<section>
  <h2>FAQ</h2>
  <div class="">
    <p id="FAQ1" class="b">How long is my goal set for?</p>
    <p id="FAQ1content" class="clip">Every goal has a set length of 90 days. The end date is visible when you set your goal. There is also a countdown on the <a href="/goals">goals</a> page.</p>
    <p id="FAQ2" class="b">Why is the goal length fixed at 90 days?</p>
    <p id="FAQ2content" class="clip"></p>
    <p id="FAQ3" class="b">Do you have any example goals?</p>
    <p id="FAQ3content" class="clip">Sure, an example of a goal might be:<br>90 Day Goal: Play a hard song on guitar.<br>Daily Goal: Play every day for twenty minutes</p>
    <p id="FAQ4" class="b">What should I put in the description section?</p>
    <p id="FAQ4content" class="clip">The description section should include specific details about how you might go about succeeding with your goal. You should also add why you are aiming to complete this goal.</p>
    <p id="FAQ5" class="b">What is the reward?</p>
    <p id="FAQ5content" class="clip">Set yourself a reward that you can have/get when you complete your 90 day goal. It could be anything you want.</p>
  </div>
  <h2>Advice</h2>
  <div class="">
    <p id="TIP1" class="b">Be realistic!</p>
    <p id="TIP1content" class="clip">Be realistic! Challenge yourself but know your limits and don't set something which isn't manageable.</p>
    <p id="TIP2" class="b">Easy does it.</p>
    <p id="TIP2content" class="clip">Ease into it by setting one goal that is doable. As you get better at setting goals and reaching them set yourself more challenging goals.</p>
    <p id="TIP3" class="b">Don't give up!</p>
    <p id="TIP3content" class="clip">Don't be deterred if you fail the first few times. If you miss a day that's fine just go ahead and do it the next day.</p>
  </div>
  {{>advice}}
</section>
