<section class="">
    <form action='/validateLogin' method="post" class="" >
      <label for="email" class="clip">Email</label>
      <input class="" type="text" name="email" value="" placeholder="Email">
      <label for="password" class="clip">Password</label>
      <input class="" type="text" name="password" value="" placeholder="Password">
      <button class="" type="submit" name="button">Log In</button>
    </form>
</section>
