<section class="vh-100 bg-near-white">
    <form action='/validateLogin' method="post" class="flex flex-column justify-center items-center h-100">
      <label for="email" class="clip">Email</label>
      <input class="input-reset w-60 pa2 ma2 bw1 ba b--mid-gray" type="text" name="email" value="" placeholder="Email">
      <label for="password" class="clip">Password</label>
      <input class="input-reset w-60 pa2 ma2 bw1 ba b--mid-gray" type="password" name="password" value="" placeholder="Password">
      <button class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f5" type="submit" name="button">Log In</button>
      Not got an account? <a href="/signup">Sign up.</a>
    </form>
</section>
