<section class="vh-90">
  <h2 class="flex justify-center">New Goal</h2>
    <form action='/addgoal' method="post" class="flex flex-column justify-center items-center h-100">
      <label for="goal90" class="clip">90 Days Goal</label>
      <input class="w-60 pa2 ma2" type="text" name="goal90" value="" placeholder="90 Day Goal">
      <label for="dailyGoal" class="clip">Daily Goal</label>
      <input class="w-60 pa2 ma2" type="text" name="dailyGoal" value="" placeholder="Daily Goal">
      <label for="description" class="clip">Description</label>
      <input class="w-60 pa2 ma2" type="text" name="description" value="" placeholder="Description">
      <label for="reward" class="clip">Reward</label>
      <input class="w-60 pa2 ma2" type="text" name="reward" value="" placeholder="Reward">
      <label for="endDate" class="clip"></label>
      <input class="clip" id="dateInput" type="text" name="endDate" value="">
      <h3>End date:</h3>
      <div id="dateContainer"></div>
      <button class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f5" type="submit" name="button">Add Goal</button>
    </form>
    {{>newGoalDate}}
</section>
