<section class="">
    <form action='/addgoal' method="post" class="" >
      <label for="goal90" class="clip">90 Days Goal</label>
      <input class="" type="text" name="goal90" value="" placeholder="90 Day Goal">
      <label for="dailyGoal" class="clip">Daily Goal</label>
      <input class="" type="text" name="dailyGoal" value="" placeholder="Daily Goal">
      <label for="description" class="clip">Description</label>
      <input class="" type="text" name="description" value="" placeholder="Description">
      <label for="reward" class="clip">Reward</label>
      <input class="" type="text" name="reward" value="" placeholder="Reward">
      <h3>End date:</h3>
      <div id="dateContainer">

      </div>
      <button class="" type="submit" name="button">Add Goal</button>
    </form>
    {{>newGoalDate}}
</section>
