<section class="">
    <form action='/addgoal' method="post" class="" >
      <label for="90 Day Goal" class="clip">90 Day Goal</label>
      <input class="" type="text" name="90 Day Goal" value="" placeholder="90 Day Goal">
      <label for="Daily Goal" class="clip">Daily Goal</label>
      <input class="" type="text" name="Daily Goal" value="" placeholder="Daily Goal">
      <label for="Description" class="clip">Description</label>
      <input class="" type="text" name="Description" value="" placeholder="Description">
      <label for="Reward" class="clip">Reward</label>
      <input class="" type="text" name="Reward" value="" placeholder="Reward">
      <button class="" type="submit" name="button">Add Goal</button>
    </form>
</section>
