<section>
  <form action='/newUser' method="post">
    <input type="text" name="firstName" value="" placeholder="First Name">
    <input type="text" name="lastName" value="" placeholder="Surname">
    <input type="text" name="email" value="" placeholder="Email">
    <input type="text" name="password" value="" placeholder="Password">
    <input type="text" name="confirm password" value="" placeholder="Confirm Password">
    <button type="submit" name="submit">Sign Up</button>
  </form>
</section>
