<section class="vh-100">
    <form action='/newUser' method="post" class="flex flex-column justify-center items-center h-100">
      <label for="firstName" class="clip">First Name</label>
      <input class="input-reset w-60 pa2 ma2 bw1 ba b--mid-gray" type="text" name="firstName" value="" placeholder="First Name">
      <label for="lastName" class="clip">Last Name</label>
      <input class="input-reset w-60 pa2 ma2 bw1 ba b--mid-gray" type="text" name="lastName" value="" placeholder="Last Name">
      <label for="email" class="clip">Email</label>
      <input class="input-reset w-60 pa2 ma2 bw1 ba b--mid-gray" type="text" name="email" value="" placeholder="Email">
      <label for="password" class="clip">Password</label>
      <input class="input-reset w-60 pa2 ma2 bw1 ba b--mid-gray" type="text" name="password" value="" placeholder="Password">
      <label for="confirmPassword" class="clip">Confirm Password</label>
      <input class="input-reset w-60 pa2 ma2 bw1 ba b--mid-gray" type="text" name="confirmPassword" value="" placeholder="Confirm Password">
      <button class="w-40 pa2 ma1 mt5 bg-white bw1 ba b--mid-gray" type="submit" name="button">Sign Up</button>
      Already have an account? <a href="/">Sign in.</a>
    </form>
</section>
