<section class="vh-100 bg-light-blue">
    <form method="post" class="flex flex-column justify-center items-center h-100" >
      <input class="w-60 pa2 ma2" type="text" name="firstName" value="" placeholder="First Name">
      <input class="w-60 pa2 ma2" type="text" name="lastName" value="" placeholder="Last Name">
      <input class="w-60 pa2 ma2" type="text" name="email" value="" placeholder="Email">
      <input class="w-60 pa2 ma2" type="text" name="password" value="" placeholder="Password">
      <input class="w-60 pa2 ma2" type="text" name="confirm password" value="" placeholder="Confirm Password">
      <button class="w-40 pa2 ma1 mt5" type="submit" name="button">Sign Up</button>
    </form>
</section>
