<section>
  <form method="post">
    <input type="text" name="name" value="" placeholder="First Name">
    <input type="text" name="surname" value="" placeholder="Surname">
    <input type="text" name="email" value="" placeholder="Email">
    <input type="text" name="password" value="" placeholder="Password">
    <input type="text" name="confirm password" value="" placeholder="Confirm Password">
  </form>
  <button type="button" name="button">Sign Up</button>
</section>
