<header>
  <!-- Insert User Name Here -->
  <a href="/newGoal">New Goal</a>
  <nav>
    <ul>
      <li>
        <a href="/goals">Goals</a>
      </li>
      <li>
        <a href="/tips">Tips</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>
